* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #111;
}

.parent{
  color: black;
  display: flex;
  flex-wrap: wrap;  
   justify-content: center;
   align-items: flex-start;
   padding: 20px;
  /* flex-direction: row; */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.card{
  height: 245px; 
  width: 210px;
  background-color: rgb(241, 241, 241);
  margin: 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.top{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  /* gap: 30px; */
  justify-content: space-between;
}

.top img{
  height: 30px;
  margin: 20px;
}

.top button{
  height: 25px;
  width: 80px;
  border: 1px solid rgb(207, 203, 203);
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 10px;
  gap: 5px;
  margin-right: 10px;
}

.center{
  height: 125px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.center h5 span{
  color: gray;
  font-size: xx-small;
}
.center h5{
  padding-bottom: 5px;
}

/* .center button{
 justify-content: space-between;
} */

.btn-center button{
  background-color: #e1dada93;
  border: none;
  border-radius: 5px;
  margin-right: 3px;
  padding: 3px;
}
.end{
  height: 60px;
  width: 100%;
}
.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main > button{
  background-color: black;
  color: white;
  /* padding: 3px; */
  height: 25px;
  width: 80px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
}
.cost{
    margin-top: 10px;
    margin-left: 15px;
}
hr{
  margin: 0 15px;

}

 
