.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: darksalmon;
}
.home{
   background-color: darkolivegreen;
   width: fit-content;
   padding: 3px;
   border-radius: 5px;
   margin: 2px 0;
}