@import "tailwindcss";

* {
  
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

html, body,#root {
  height: 100%;
  width: 100%;
}

.header{
  background-color: rgb(15, 20, 31);
}