@import 'tailwindcss';

* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

html, body,#root {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-weight: bolder;
}

.Navbar{
  background-color: lightseagreen;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav2{
    display: flex;
    gap: 30px;
}