body {
  background-color: #186f5c;
  color: aliceblue;
  font-size: xx-large;
  width: 100%;
  height: 100%;
}


img{
  height: 50px;
  width: 50px;
  color: aliceblue;
  padding: 10px 0 0 20px;
}

#p {
   font-size: large;
   margin-top: -5px;
   margin-left: 28px;
}

.nav{
  display: flex;
  gap: 10%;
  background: rgb(23, 7, 35);
  border-radius: 10px;
  margin: 10px;
}

.list{
  display: flex;
  justify-content:  space-evenly;
  align-items: center;
  flex: 1;
  padding: 0 5rem ;
  /* width: 80%; */
}

a{
  text-decoration:  none;
  color: burlywood;
  margin-left: auto;
}