@import "tailwindcss";

/* 3D flip animation */
.coin {
    font-size: 2.2rem;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.coin.flip {
  transform: rotateY(1080deg) rotateX(1080deg) ;
  transform-style:preserve-3d ;
}

