@import "tailwindcss";

/* 3D flip animation */
.coin {
  font-size: 2.2rem;
  transition: transform 0.4s ease-in-out;
  /* backface-visibility: hidden; */
  background-color: silver;
  color: #374151   ;
}

.coin.flip {
  transform: rotateX(720deg) rotateY(360deg) scale(1.5) ;
}


